<% if user_signed_in? && @user.nations.first != nil %>
<%= render "display_nation" %>

<% elsif user_signed_in? %>
<div class="pretty-well well" >
  <%= link_to "Create Your Empire", new_user_nation_path(@user), remote: true, id: "new_nation" %>
</div>

  <% else %>
  <div class="jumbotron">
    <h2>You must sign in to play!</h2>
    <h6>Thats the rules...</h6>
  </div>
<% end %>
